.bicicletas {
    padding: 60px 0;
}

.bicicletas h2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
}

.bicicletas-listas-item h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.bicicletas-listas-item {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    gap: 40px;
    overflow-x: auto;
    
}

.bicicletas-listas-item li {
    flex: 1;
    min-width: 280px;
}

.bicicletas-listas-item h3{
    display: flex;
    align-items: center;
}

.bicicletas-listas-item li h3::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 8px;
    background-color: var(--cor-p1);
    transition: width 0.2s;
}

.bicicletas-listas-item li a:hover h3::before {
    width: 24px;
}

.bicicletas-listas-item span {
    padding-left: 20px;
}

@media (max-width: 800px){
    .bicicletas-listas-item {
        gap: 16px;
    }
}