.parceiros h2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px 0px 20px;

}


.parceiros-logos {
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
    padding: 32px;
    margin: 0 auto;
}

.parceiros-logos li {
    display: flex;
    border-right: 2px solid var(--cor-2);
    border-bottom: 2px solid var(--cor-2);
    padding: 32px;
}

.parceiros-logos li:nth-child(4n) {
    border-right: none;
}
.parceiros-logos li:nth-child(n + 5 ) {
    border-bottom: none;
}

.parceiros-logos li img {
   width: 100%;
    margin:auto;
}

@media (max-width: 800px) {

    .parceiros h2 {
        font-size: 48px;
        padding-top: 20px;
        font-size: 32px;
    }

    .parceiros-logos {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros-logos li:nth-child(2n) {
        border-right: none;
    }
    .parceiros-logos li:nth-child(1n) {
        border-bottom: 2px solid var(--cor-2);
    }
    .parceiros-logos li:nth-child(n + 7 ) {
        border-bottom: none;
    }
}