.contato-bg {
    background: linear-gradient(var(--cor-11) 300px , var(--cor-1) 0px);
    color: white;
}

.contato-container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    
   
}

.contato-infos {
    background: var(--cor-12);
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10) ;
    padding: 60px;
}

.contato-infos h2 {
    margin-bottom: 60px;
}

.contato-infos .enderecos {
    margin-bottom: 32px;
    background: url(../../img/local.svg) no-repeat;
    padding-left: 28px;
    color: var(--cor-4);
}
.contato-infos .enderecos li {
    margin-bottom: 8px;
}

.contato-infos .emails ul {
    background: url(../../img/email.svg) no-repeat;
    padding-left: 28px;
    color: var(--cor-4);
}

.contato-infos .emails li {
    margin-bottom: 8px;
}

.contato-infos .telefone {
    background: url(../../img/telefone.svg) no-repeat;
    padding-left: 28px;
    color: var(--cor-4);
    margin-bottom: 64px;
}

.contato-redes-sociais {
    display: flex;
    gap: 32px;
    padding-left: 28px;
    
}

.contato-form {
    padding: 60px;
    background: var(--cor-0);
    color: black;
    border-radius: 0px 4px 4px 0px;
}

.lojas-bg {
    background: var(--cor-1);
}

.lojas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 0px;
    gap: 40px;
  
}

.lojas div {
    background: var(--cor-0);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10) ;
    border-radius: 0px 0px 4px 4px;
}

.lojas div img {
    width: 100%;
}

.lojas h2 {
    margin-bottom: 60px;
}

.lojas-endereco-list {
    padding: 32px 60px;
    
}

.lojas-endereco-list h2 {
    margin-bottom: 32px;
}

.lojas-endereco-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 60px;
    margin-bottom: 32px;
    
}
.lojas-endereco-list ul li {
    padding-left: 12px;
    position: relative;
    color: var(--cor-8);
}

.lojas-endereco-list ul li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: var(--cor-2);
    position: absolute;
   left: -0px;
}

.lojas-endereco-list h2 {
    display: flex;
    align-items: center;
    position: relative;
}

.lojas-endereco-list h2::before {
    content: '';
    width: 12px;
    height: 8px;
    background: var(--cor-p1);
    position: absolute;
    left: -24px;
}

.lojas-endereco-list p {
    display: flex;
   align-items: center;
    position: relative;
    
}
.lojas-endereco-list p::before {
    content: '';
    
    width: 32px;
    height: 32px;
    background: url(../../img/Vector-hora.svg) no-repeat center;
    
    left: -32px;
    position: absolute;
}




