.tarefas-list {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}


#addtask {
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid rgb(22, 22, 11);
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;
}

.lista-div {
    display: flex;
    justify-content: center; /* Centraliza a ul dentro da div */
    align-items: center;
    width: 100%;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens li dentro da ul */
    justify-content: center;
    list-style: none;
     /* Faz a UL se ajustar ao tamanho dos itens */
    margin: 10px auto; /* Centraliza a UL na página */
    padding: 10px;
    border-radius: 5px;
}

.lista li {
    position: relative;
    margin-bottom: 4px;
    background-color: #f4f4f4;
    border: 1px solid rgb(42, 42, 42, 0.7);
    border-radius: 3px;
    padding: 10px 40px;
    text-align: center; /* Centraliza o texto dentro do li */
    width: 100%;
    word-break: break-word;
    box-sizing: border-box;
}

.lista li::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    left: 15px;
    top: -5;
}

