body{
    background-color:#f7f7f7 ;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 4rem;
    width: 200px;
}
.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    margin: 5px;
}

.conteudo {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr;
}

.conteudo-1 {
    display: flex;
    position: relative;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    
}

.conteudo-1 .title {
    font-size: 30px;
    font-weight: 600;
    margin: 60px 40px 10px 40px;
}

.conteudo-1 .paragrafo {
   text-align: end;
    font-size: 20px;
    margin: 10px 40px 10px 40px;

}

.conteudo-1 .button {
    margin: 10px 40px 10px 40px;
    background-color: #ee2211;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 4px;
}

.button:hover{
    background-color: #c62011;
}

.conteudo-1::before {
    content: "";
    width: 60px;
    height: 5px;
    background-color: #ee2211;
    position: absolute;
    top: 30px;
    right: -30px;
}

.vantagens {
    display: flex;
    align-items: center;
    font-size: 60px;
}

.vantagens .title {
    text-align: end;
    font-weight: bolder;
    margin-right: 20px;
    color: #c6c6c6;
    letter-spacing: 1.9px;
}

.funcionalidades {
   
    padding: 40px;
    background-color: #fff;
}

.funcionalidades .item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px ;
    padding: 20px;
}

.funcionalidades .img {
    display: block;
    max-width: 100%;
}

.funcionalidades  h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.funcionalidades p {
    grid-column: 2;
}

.bikcraft {
    max-width: 100%;
}

.footer {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0;
}

.footer p {
    padding: 40px;
}